<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{ site.title }} - {{ page.title }}</title>
        
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'/>
        <link href="{{ ASSET_PATH }}/css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="{{ ASSET_PATH }}/css/colour.css" rel="stylesheet" type="text/css"/>
        <link href="{{ ASSET_PATH }}/css/code.css" rel="stylesheet" type="text/css"/>
        
        {% include themes/twrl/elems/ogpdata %}
        
        <!-- typography -->
        <style type="text/css">
        body {
            font-family: "Droid Sans", sans-serif;
        }
        pre {
            font-family: "Droid Sans Mono", monospace;
        }
        </style>
        
        <script type="application/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
        <script type="application/javascript">
		$(function () {

			$('#l-advnavctl-ctrl').click(function () {
				$('#l-advnav').slideToggle();
				$('#advnavctl-show, #advnavctl-hide').toggle();
			});


		});
		</script>
		
		
		<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33400896-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        
    </head>
    <body>
    
        {% include themes/twrl/elems/pghead %}
        
        <div class="cf layout-row c-dark" id="l-advnav" style="display:none">
            {% include themes/twrl/widgets/tags %}
            {% include themes/twrl/widgets/related %}
            {% include themes/twrl/widgets/recent %}
            {% include themes/twrl/widgets/aboutme %}
        </div>
        <div class="cf layout-row c-dark" id="l-advnavctl">
            <div class="cf layout-cell-l5" id="l-advnavctl-ctrl">
                <p id="advnavctl-show"><img src="{{ASSET_PATH}}/icons/24.png" class="icon"/>Show me more things...</p>
                <p id="advnavctl-hide" style="display:none"><img src="{{ASSET_PATH}}/icons/19.png" class="icon"/>Hide this clutter</p>
            </div>
        </div>
    
        {{content}}
        
        {% include themes/twrl/elems/pgfoot %}
    
    </body>
</html>