<article class="cf layout-row odd" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <header class="cf layout-cell-l2">
        <h1 property="dc:title">{{ page.title }}</h1>
        <p><span property="dc:date" content="{{page.date | date:'%Y-%m-%d'}}">{{ page.date | date:'%A %d %B, %Y'}}</span> <img src="{{ASSET_PATH}}twrl/icons/12.png" class="icon"/></p>
        <p>{% for tag in page.tags %}<a rel="dc:subject" href="/tag/{{tag}}.html">{{tag}}</a>{% unless forloop.last %}, {%endunless%}{% endfor %} <img src="{{ASSET_PATH}}twrl/icons/20.png" class="icon"/></p>
        
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_google_plusone_badge" g:plusone:size="small"></a>
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5002f6cf1dbb4c0f"></script>
        <!-- AddThis Button END -->
        
    </header>
    <div class="cf layout-cell-l3 content">
        {{ content }}
    </div>
</article>