.code {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 9pt;
    }
    
.code .line-numbers {
    padding-right: 1em;
    }

.code .keyword {
    color: blue;
    }
    
.code .string {
    color: darkred;
    }
    
.code .key {
    font-variant: italic;
    }