.c-dark {
    color: white;
    //color: #12b812;
    background-color: #202020;
}

.c-dark h1, .c-dark h2, .c-dark h3, .c-dark h4, .c-dark h5, .c-dark h6 {
    color: #12b812;
}

.c-mid {
}



.odd {
	background-color: #EEFFCC;
}
.even {
	background-color: #EEEEDD;
}



#l-head-nav a:link, #l-head-nav a:active, #l-head-nav a:hover, #l-head-nav a:visited {
    color: white;
    text-decoration: none;
}

#l-head-nav .current {
    border-bottom: 3px solid #12b812;
}


a:link, a:active {
    color: #12b812;
    text-decoration: none;
    }
    
a:hover {
    color: #12b812;
    text-decoration: underline;
    }
    
a:visited {
    color: #b81212;
    text-decoration: none;
    }